.performance {
    .ant-row {
        margin: 8px 0;
    }
    .ant-col {
        background-color: rgba(0, 146, 255, 0.75);
        padding: 16px 0;
        text-align: center;
        color: #ffffff;
    }
}
