.skeleton {
    div {
        background-size: 400% 100% !important;
    }
    @keyframes skeleton-anima {
        0% {
            background-position: 100% 50%;
        }

        100% {
            background-position: 0 50%;
        }
    }
}